{% load user_filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/output.css' %}">
</head>
<body class="bg-gray-100">
    <header {% if request.user|has_group:"Managers" %}class="bg-blue-500 text-white text-center py-4" {% else %}class="bg-green-500 text-white text-center py-4"{% endif %}>
        <a class="text-3xl font-bold" href="{% url 'core:index' %}"><h1>Welcome to Property Management</h1></a>
        <h2>{{request.user.username}}</h2>
    </header>
    <nav class="flex justify-center my-4">
        <ul class="flex space-x-4">
            {% if request.user.is_authenticated %}
                <li>
                    {% if request.user|has_group:"Managers" %}
                    <a href="{% url 'core:property_manager_dashboard' %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Dashboard</a>
                    {% else %}
                    <a href="{% url 'core:tenant_dashboard' %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Dashboard</a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'core:logout' %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Logout</a>
                </li>
            {% else %}
            
            <li>
                <a href="{% url 'core:tenant_register' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Register</a>
            </li>
            <li>
                <a href="{% url 'core:login' %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main class="text-center">
        <p class="text-gray-700">This is the homepage of the Property Management system.</p>
    </main>
    <footer class="bg-gray-800 text-white text-center py-4">
        <p>&copy; 2024 Property Management. All rights reserved.</p>
    </footer>
    <p class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-100 hidden"></p>
</body>
</html>